<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="File" name="file" keepFileOpen="true" openFileCacheTimeout="5" archiveNumbering="Date" autoFlush="true"
           archiveEvery="Day" archiveDateFormat="yyyyMMdd" encoding="utf-8" enableArchiveFileCompression="true"
           fileName="${environment:variable=APPDATA:whenEmpty=${environment:variable=HOME}}/q2g/q2g-con-psexecute-qvx.log"
           archiveFileName="${environment:variable=APPDATA:whenEmpty=${environment:variable=HOME}}/q2g/q2g-con-psexecute-qvx-archive.{#}.zip"
           layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}"/>
      <target name="Console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
			  layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
        <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
        <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGreen" />
        <highlight-row condition="level == LogLevel.Info"  foregroundColor="White" />
        <highlight-row condition="level == LogLevel.Warn"  foregroundColor="Magenta" />
        <highlight-row condition="level == LogLevel.Error" foregroundColor="Yellow" />
        <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
      </target>
    </targets>
    <rules>
      <!-- add your logging rules here -->
      <logger name="*" minlevel="Warn" writeTo="File"/>
      <logger name="*" minlevel="Trace" writeTo="Console"/>
    </rules>
  </nlog>
</configuration>