<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="ASFile" xsi:type="AsyncWrapper" overflowAction="Block" queueLimit="10000" batchSize="1000" timeToSleepBetweenBatches="100">
      <target xsi:type="File" name="file" keepFileOpen="true" openFileCacheTimeout="5"
              archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyyMMdd" encoding="iso-8859-2"
              enableArchiveFileCompression="true" fileName="${specialfolder:folder=ApplicationData}/q2g/q2g-con-psexecute-qvx/log.log"
              archiveFileName="${specialfolder:folder=ApplicationData}/q2g/q2g-con-psexecute-qvx/log.{#}.zip"
              layout="${longdate} ${uppercase:${level}} ${message}" />
    </target>
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Warn" writeTo="ASFile" />
  </rules>
</nlog>