<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="ASFile" xsi:type="AsyncWrapper" overflowAction="Block" queueLimit="10000" batchSize="1000" timeToSleepBetweenBatches="100">
        <target xsi:type="File" name="file" keepFileOpen="true" openFileCacheTimeout="5" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyyMMdd" encoding="utf-8" enableArchiveFileCompression="true" fileName="${specialfolder:folder=ApplicationData}/akquinet/SenseExcel/logs/QlikConnectorPSExecute.log" archiveFileName="${specialfolder:folder=ApplicationData}/akquinet/SenseExcel/logs/QlikConnectorPSExecute.{#}.log" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
      </target>
    </targets>
    <rules>
      <!-- add your logging rules here -->
      <logger name="*" minlevel="Warn" writeTo="ASFile" />
    </rules>
  </nlog>
</configuration>
