<div class="qveventlogconnectdialogcontainer">
    <div class="lui-modal-background"></div>
    <div class="qveventlogconnectdialog" qv-global-escape="onEscape()">
        <div class="lui-dialog" style="width: 400px; height:300px">
            <div class="lui-dialog__header">
                <div class="lui-dialog__title">{{titleText}}</div>
            </div>
            <div class="lui-dialog__body">
                <label class="lui-label">Connection Name</label>
                <input class="lui-input" type="text" ng-model="name" placeholder="Connection name" />
                <label class="lui-label">Username</label>
                <input class="lui-input" type="text" ng-model="username" placeholder="Username" />
                <label class="lui-label">Password</label>
                <input class="lui-input" type="password" ng-model="password" placeholder="Password" />
                <div class="lui-label connectionInfo" ng-class="{'success': connectionSuccessful}">{{connectionInfo}}</div>
            </div>
            <div class="lui-dialog__footer">
                <button class="lui-button lui-dialog__button" ng-click="onTestConnectionClicked()">Test Credentials</button>
                <button class="lui-button lui-dialog__button" ng-click="onCancelClicked()">Cancel</button>
                <button class="lui-button lui-dialog__button close-button" ng-click="onOKClicked()" ng-disabled="!isOkEnabled()" q-translation="{{saveButtonText}}"></button>
            </div>
        </div>
        
    </div>
</div>